<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item title" href="{{{or site.url siteRootPath}}}">
          <img class="logo" src="{{uiRootPath}}/img/junit-diamond-white.png" alt="✔️"/>
          {{site.title}}<span class="version">{{page.componentVersion.displayVersion}}</span>
      </a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search current version"{{#if page.home}} autofocus{{/if}}>
          {{#if page.componentVersion}}
          <label style="display: none">
            <!-- restrict search to current version -->
            <input type="checkbox" data-facet-filter="version:{{page.componentVersion.version}}" checked>
          </label>
          {{/if}}
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
          <a class="navbar-item" href="https://junit.org/">Home</a>
          <a class="navbar-item" href="https://github.com/junit-team/junit-framework/">Repo</a>
      </div>
    </div>
  </nav>
</header>
